:root{
    --background-color: black;
    --logo-background: rgba(0, 0, 0, .5);
    --logo-text: rgb(255, 255, 255); 
    --main-container-width: 500px;
}

html{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    
}

p{
    width:  min(50%, var(--main-container-width));

}

.main-content-container{
    background-color: beige;
    width: min(1200px, 100vw);
    height: 100vh;
    margin: -10px 0px;
    display: flex;
}

.left-container{
    position: relative;
    width: max(0px, 300px, 500px);
    height: 100%;
    background-image: url(./images/flavors.jpg);
    background-size: var(--main-container-width) 100vh ;
    background-repeat: no-repeat;
}

.logo-container{
    position: relative;
    top: 140px;
    width: 100%;
    height: 20vh;
    background: var(--logo-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    color: var(--logo-text);
}


.logo-container::after{
    background-image: url("./images/orange.png");
    background-size: 44px 44px;
    margin-left: 4px;
    width: 44px;
    height: 44px;
    content:""; /*Content won't display without this */
}

.right-container{
    width: min(700px, 50%);
    display: flex;
    flex-direction: column;
}

.description{
    width: min(700px, 50%);
    padding-left: 52px;
    margin-right: -100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}





.submit-section{
    background-color: blue;
}