:root{
    --background-color: black;
    --logo-background: rgba(0, 0, 0, .5);
    --logo-text: rgb(255, 255, 255); 
    --main-container-width: 500px;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

h3{
    width: 100%;
    text-align: center;
}

.main-content-container{
    background-color: beige;
    max-width: 1300px;
    height: 100vh;
    display: flex;
    flex: 1;
    justify-self: center;
}

.left-container{
    position: relative;
    width: 500px;
    height: 100%;
    background-image: url(./images/flavors.jpg);
    background-size: var(--main-container-width) 941px;
    background-repeat: no-repeat;
}

.logo-container{
    position: relative;
    top: 140px;
    width: 100%;
    min-height: 200px;
    background: var(--logo-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    color: var(--logo-text);
}


.logo-container::after{
    background-image: url("./images/orange.png");
    background-size: 44px 44px;
    margin-left: 4px;
    width: 44px;
    height: 44px;
    content:""; /*Content won't display without this */
}

.right-container{
    position: relative;
    width: max(50%, 800px);
    display: flex;
    flex-direction: column;
}

.description{
    width: calc(100%-45px);
    padding: 62px 45px 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

form{
    width: 100%;
    display: flex;
    flex: 1;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-inputs{
    padding: 100px 20px;
    display:flex;
    flex: 1;
    column-gap: 20px;
}

.inputs1,
.inputs2{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;   
}

input{
    outline: none;
    border: 2px ridge white;
}

input:hover{
    transform: scale(1.05);
}

input:focus{
    border: 2px solid blue;
    transform: scale(1.05);
}


button{
    font-family: inherit;
}

.submit-section{
    display: flex;
    padding-bottom: 50px;
}

@media screen and (max-width: 600px){
    .left-container{
        width: 0px;
    }
    .right-container{
        width: 100%;
    }
    .main-content-container{
        width: 100%;
    }
    .logo-container{
        display: none;
    }
}